<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<div th:fragment="nav">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li sec:authorize="hasRole('ROLE_USER')" class="nav-item">
                        <a id="home" class="nav-link" href="newRegistration">Home</a>
                    </li>

                    <li sec:authorize="hasRole('ROLE_USER')" class="nav-item">
                        <a id="myRequest" class="nav-link" href="myRequests">My Requests</a>
                    </li>

                    <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
                        <a id="adminHome" class="nav-link" href="adminHome">Home</a>
                    </li>
                </ul>
                <a sec:authorize="isAuthenticated()" id="logout" href="logout" onclick="logout()"
                   class="btn btn-outline-danger my-2 my-sm-0 btn-sm">Logout</a>
            </div>
        </div>
    </nav>
</div>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>